

/* header styles */
.header {
  
}

/* app styles */
.app {
  display: flex;
  flex-direction: column;
}

/* options styles */
.options {
  display: flex;
  justify-content: space-around;
}

.options__field {
  display: flex;
  flex-direction: column;
}

.options__range {
  display: flex;
  flex-direction: column;
}

.options__range-section {
  display: flex;
  align-items: center;
}

.options__range-values {
  display: flex;
  justify-content: space-between;
}

/* controls styles */
.controls {

}