

/* header styles */
.header {
  
}

/* app styles */
.app {
  display: flex;
  flex-direction: column;
}

/* options styles */
.options {
  display: flex;
  justify-content: space-around;
}

.options__field {
  display: flex;
  flex-direction: column;
}

.options__range {
  display: flex;
  flex-direction: column;
}

.options__range-section {
  display: flex;
  align-items: center;
}

.options__range-values {
  display: flex;
  justify-content: space-between;
}

.options__results--highlighted {
  color: lightblue;
}

/* controls styles */
.controls {

}

/* field */

/* TODO: change for all of the fields */
.field {
  display: flex;
  flex-direction: column;
}

/* purpose */

.purpose {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.purpose div {
  margin-right: 4px;
}