

/* header styles */
.header {
  
}

/* app styles */
.app {
  display: flex;
  flex-direction: column;
}

.app__body {
  display: flex;
  justify-content: space-around;
}

/* controls styles */
.controls {

}